@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    width: 1200px;
}

#head{
    width: 133px;
    margin-top: 10px;
    margin-left: 77px;
}

h1{
    font-family: "Inconsolata", monospace;;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.18px;
    letter-spacing: -8%;
}

#design{
    display: flex;
    margin: 5px;
    padding: 5px ;
    margin-left: 77px;
    margin-top: 10px;
}

.scarecrow{
    width: 90%;
    
    height: 400px;
    top: 265px;
    left: 77px;
}

#twt{
    margin-top: 50px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    width: 500px;
    height: 400px;
}

#bad-new{
    width: 430px;
    margin: 0px 50px;
    height:200px ;
}

#bad-new p {
    margin-top: 0;
}

.bad-new{
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 50px;
    line-height: 94.78px;
    letter-spacing: -3.5px;
}

#unavailable{
    width: 380px;
    height: 108px;
    top: 491px;
    left: 736px;
    margin-top:20px;
    margin-left: 50px;
}

.unavailable{
    font-family: "Space Mono", monospace;
    font: weight 400px;
    font-size: 24px;
    line-height: 35.54px;
    letter-spacing: -3.5%;
}

.button{
      margin-top:50px;
}

button{
    width: 180px;
    height: 55px;
    top: 663px;
    left: 740px;
    color: whitesmoke;
    background-color: black;
    margin-left: 50px;
    
}

#foot{
    width: 216px; 
    margin-left: 550px;
}
.foot{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 10px;
    text-align: center; 
    
}

.username{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
}

